:host {
  display: block;
}

.people-list {
  &__main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 16px;
  }
  &__icon {
    color: black;
    position: absolute;
    padding: 16px;
    font-size: 30px;
  }
  &__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__paginator {
    display: "flex";
  }

  &__loading {
    margin: 2em auto;
  }
}
