<section class="people-list__paginator">
  <mat-paginator
    [length]="totalPages"
    [pageSize]="10"
    [pageIndex]="currentPage - 1"
    (page)="navigate($event.pageIndex + 1)"
    aria-label="Select page"
  >
  </mat-paginator>
</section>
<main class="people-list__main">
  <mat-spinner
    *ngIf="!people || !people.length; else PeopleList"
    class="people-list__loading"
    color="black"
  ></mat-spinner>
  <ng-template #PeopleList>
    <section class="people-list__list-wrapper">
      <people-card
        *ngFor="let person of people"
        [person]="person"
        [imgUrl]="getImage(person?.id)"
      >
      </people-card>
    </section>
  </ng-template>
</main>
